



      
      
     
<div id=" wrapper">
    <div id="map_canvas">
        
    </div>
   
    <div id="over_map">
        <div id="controller">
            <div id="trapezoid">
                <div id="insideTrapezoid">
                    <div id="chooseScenario" class="insideOptions">
                        <div style=" display: table; margin: 0 auto;">
                            <div id="scenario" class="selections">Urbano</div>
                            <button id="selectScenario" style="float:left; height: 30px"></button>
                        </div>
                        <ul style=" z-index: 1000">
                            <li id="urbanRadio">Urbano</li>
                            <li id="suburbanRadio">Suburbano</li>
                            <li id="ruralRadio">Rural</li>
                        </ul>
                    </div>
                    <div id="chooseTechnology" class="insideOptions">
                        <div style=" display: table; margin: 0 auto;">
                            <div id="technology" class="selections">ZigBee</div>
                            <button id="selectTechnology" style="float:left; height: 30px"></button>
                        </div>
                        <ul style =" z-index: 1000">
                            <li id="ZigBee">ZigBee</></li>
                            <li id="80211a">802.11.a</></li>
                            <li id="80211g">802.11.g</></li>
                        </ul>
                    </div>
                    <div id="choosePower" class="insideOptions">
                        <div style=" display: table; margin: 0 auto;">
                            <span id="power" class="selections">-20 dBm</span>
                        </div>

                        <div id="slider" style=" display: table; margin: 0 auto;"></div>
                    </div>
                    
                </div>
                <div id="radio" style="position: absolute;margin-top: 64px;margin-left:40px;">
                    <input type="radio" id="viewRadio" name="radio" checked="checked"><label for="viewRadio">Visualização</label>
                    <input type="radio" id="dapRadio" name="radio"><label for="dapRadio">DAP</label>
                    <input type="radio" id="meterRadio" name="radio" ><label for="meterRadio">Medidor</label>
                    <input type="radio" id="pole" name="radio"><label for="pole">Poste</label>
                    <input type="radio" id="eraserRadio" name="radio"><label for="eraserRadio">Remoção</label>

                    <button id="autoPlanning" style="margin-left: 50px">Auto Planejamento</button>
                    <input type="checkbox" id="checkHeatmap"><label for="checkHeatmap">Mapa de calor</label>
                    <!-- <input type="checkbox" id="checkCluster"><label for="checkCluster">Junção de componentes</label>-->
                    <input type="checkbox" id="checkRFMesh"><label for="checkRFMesh">RF-Mesh</label>
                    <button id="statistic">Coletar Estatísticas</button>
                    <button id="generator">Gerar Vizinhança Entre Pontos</button>
                    
                </div>
            </div>
        </div>
        <div id="statisticDialog" class = "hidden" title="Estatísticas">
          <p>wow</p>
        </div>
  </div>


