<div id="wrapper" style="min-width:	1125px; overflow:true;">
    <div id="map_canvas" >       
    </div>
    <div id="over_map">
		<input id="pac-input" class="controls" type="text" placeholder="Search Box">
		
		<div id="controller">
			
            <div id="trapezoid" >

                <div id="insideTrapezoid">

                    <div id="chooseScenario" class="insideOptions">
                        <div style=" display: table; margin: 0 auto;">
                            <div id="scenario" class="selections">Urbano</div>
                            <button id="selectScenario" class = "trapezoidButton"></button>
                        </div>
                        <ul style=" z-index: 1000">
                            <li id="urbanRadio">Urbano</li>
                            <li id="suburbanRadio">Suburbano</li>
                            <li id="ruralRadio">Rural</li>
                        </ul>
                    </div>
                    <div id="chooseTechnology" class="insideOptions">
                        <div style=" display: table; margin: 0 auto;">
                            <div id="technology" class="selections">ZigBee</div>
                            <button id="selectTechnology" style="float:left; height: 30px"></button>
                        </div>
                        <ul style =" z-index: 1000">
                            <li id="ZigBee">ZigBee</li>
                           <!--  <li id="80211a">802.11.a</></li> -->
                            <li id="80211g">802.11.g</li>
                        </ul>
                    </div>
                    <div id="choosePower" class="insideOptions">
                        <div style=" display: table; margin: 0 auto;">
                            <span id="power" class="selections">0 dBm</span>
                        </div>

                        <div id="slider" style=" display: table; margin: 0 auto;"></div>
                    </div>
                    
                </div>
				<div id="menu" >
          <div class="menuButton">
							<select name="mouseOptions" id="mouseOptions" class="TFOlstFiltreImg"  >
								<option value="view" selected="selected"> Visualização</option>
								<option value="dap"> DAP </option>
								<option value="meter"  > Medidor </option>
								<option value="pole" > Poste </option>
								<option value="eraser"> Apagar </option>
								<option value="eraserSelection"  > Apagar por Seleção </option>
								<option value="dapEraserSelection" > Apagar por Seleção (DAP) </option>
								<option value="meterEraserSelection" > Apagar por Seleção (Medidor) </option>
								<option value="poleEraserSelection"> Apagar por Seleção (Poste)</option>
							</select>
						</div>
            <div style="width:107px;" class="menuButton">
                <button id="autoPlanning" >Auto Planning</button>
                <div id="autoPlanningCheckboxDiv" class = "hidden belowButtonDiv" style="width: 150px; left: -21.5px; position:relative;" >
                <span class="selections" style="margin-left: 5%">Sobrescrever: </span>
                <input type="checkbox" id="autoPlanningCheckbox" style="margin-top: 4%">
                  <label for="check"></label>
                </div>
            </div>
            <div style="width:87px;" class="menuButton">          
              <button id="meshButton">RF-Mesh</button>
              <div id="meshSliderDiv" class = "hidden belowButtonDiv" style="width: 305px; left:-109px; position:relative" >
                <span class="selections" style="margin-left: 5%">Saltos Mesh: </span>
                <div id="meshSlider" style="width:80px; margin-top: 8px; margin-left: 3%"></div>
                <span id="mesh" style="margin-left: 5%" class="selections">0 Saltos</span>
              </div>
            </div>
            <!-- <input type="checkbox" id="checkHeatmap"><label for="checkHeatmap">Heatmap</label> -->
						<!-- <input type="checkbox" id="checkCluster"><label for="checkCluster">Junção de componentes</label>-->

            <div class="menuButton squareButton">
              <button id="statistic" >Coletar Métricas</button>
            </div>
            <div class="menuButton squareButton">
						  <input type="checkbox" id="rangeview"><label for="rangeview">Visão por alcance</label>
            </div>
            <div class="menuButton squareButton">
						  <input type="checkbox" id="checkHeatmap"><label for="checkHeatmap">Mapa de Calor</label>
            </div>
            <div class="menuButton squareButton">
						  <button id="upload">Upload de arquivo</button>
            </div>
            <div class="menuButton squareButton">
						  <button id="download">Download de planejamento</button>
            </div>
						<!--<button id ="settings"> Configurações Avançadas</button>-->
            <div class="menuButton squareButton">
						  <button id="help">Botão de Ajuda</button>
            </div>
 


            <!-- <button id="generator">Gerar Vizinhança Entre Pontos</button>-->
						
					</div>
				</div>
            </div>
        </div>
        <div id="statisticDialog" class = "hidden"  title="Estatísticas"> 
		<div id="metricsTableDiv">
		  <table id="metricsTable" class="ui-widget ui-widget-content">
			<tr></tr><tr></tr>			  
		  </table>
		</div>
		</div>
		</table>
		<div id="uploadDialog" class = "hidden" title="Upload">
			<input id= "uploadFile" type="file"/>
			<button id = "submitButton">Submit</button>	
			<div style="margin: 10px;">
				<input type="radio" id="spFormatRadio" name="format" checked="checked"><label for="fileFormatRadio">Formatado</label>
				<input type="radio" id="dapFormatRadio" name="format"><label for="fileFormatRadio">DAPs</label>
				<input type="radio" id="meterFormatRadio" name="format"><label for="fileFormatRadio">Medidores</label>
				<input type="radio" id="poleFormatRadio" name="format"><label for="fileFormatRadio">Postes</label>
				<input type="radio" id="heatmapFormatRadio" name="format"><label for="fileFormatRadio">Mapa de calor</label>
			</div>
			<input type="checkbox" id="resetOnUpload"><label for="resetOnUpload">Resetar ao inserir</label>
        </div>
		<div id="settingsDialog" class = "hidden" title="Configurações Avançadas">
			<div id="redundancySliderDiv"  style="height: 26px; width: 300px;" >
				<span class="selections" style="float: left;  margin-left: 5%">Redundância: </span>		
				<div id="redundancySlider" style="float: left; width:80px; margin-top: 8px; margin-left: 3%"></div>
				<span id="redundancy" style="float: left; margin-left: 5%" class="selections">1</span>				
			</div>	
			<div id="limitSliderDiv"  style="height: 26px; width: 330px;">
				<span class="selections" style="float: left;  margin-left: 5%">Limite Meter/DAP: </span>	
				<div id="limitSlider" style="float: left; width:80px; margin-top: 8px; margin-left: 3%"></div>
				<span id="limit" style="float: left; margin-left: 5%" class="selections">100</span>					
			</div>	
			<input style="margin-left:4%" type="checkbox" id="considerLimit"><label for="considerLimit">Considerar limite por DAP</label>	
				
        </div>
		<div id="helpDialog" class = "hidden" title="Ajuda">
			<img id="helpmenu"src="" >
        </div>


		   
  </div>
</div>


