<div id=" wrapper">
    <div id="map_canvas">       
    </div>
    <div id="over_map">
        <div id="controller">
            <div id="trapezoid">

                <div id="insideTrapezoid">

                    <div id="chooseScenario" class="insideOptions">
                        <div style=" display: table; margin: 0 auto;">
                            <div id="scenario" class="selections">Urbano</div>
                            <button id="selectScenario" style="float:left; height: 30px"></button>
                        </div>
                        <ul style=" z-index: 1000">
                            <li id="urbanRadio">Urban</li>
                            <li id="suburbanRadio">Suburban</li>
                            <li id="ruralRadio">Rural</li>
                        </ul>
                    </div>
                    <div id="chooseTechnology" class="insideOptions">
                        <div style=" display: table; margin: 0 auto;">
                            <div id="technology" class="selections">ZigBee</div>
                            <button id="selectTechnology" style="float:left; height: 30px"></button>
                        </div>
                        <ul style =" z-index: 1000">
                            <li id="ZigBee">ZigBee</></li>
                           <!--  <li id="80211a">802.11.a</></li> -->
                            <li id="80211g">802.11.g</></li>
                        </ul>
                    </div>
                    <div id="choosePower" class="insideOptions">
                        <div style=" display: table; margin: 0 auto;">
                            <span id="power" class="selections">0 dBm</span>
                        </div>

                        <div id="slider" style=" display: table; margin: 0 auto;"></div>
                    </div>
                    
                </div>
                <div id="radio" style="position: absolute;margin-top: 64px;margin-left:40px;">
                    <input type="radio" id="viewRadio" name="radio" checked="checked"><label for="viewRadio">Visualização</label>
                    <input type="radio" id="dapRadio" name="radio"><label for="dapRadio">DAP</label>
                    <input type="radio" id="meterRadio" name="radio" ><label for="meterRadio">Medidor</label>
                    <input type="radio" id="pole" name="radio"><label for="pole">Poste</label>
                    <input type="radio" id="eraserRadio" name="radio"><label for="eraserRadio">Remoção</label>

                    <button id="autoPlanning" style="margin-left: 50px">Auto Planning</button>
                    <!-- <input type="checkbox" id="checkHeatmap"><label for="checkHeatmap">Heatmap</label> -->
                    <!-- <input type="checkbox" id="checkCluster"><label for="checkCluster">Junção de componentes</label>-->
                    <input type="checkbox" id="checkRFMesh"><label for="checkRFMesh">RF-Mesh</label>
                    <button id="statistic">Coletar Métricas</button>
					<button id="upload">Upload de arquivo</button>
					<button id="download">Download de planejamento</button>
					<button id ="settings"> Configurações Avançadas</button>
                    <!-- <button id="generator">Gerar Vizinhança Entre Pontos</button>-->
                    
                </div>
            </div>
        </div>
        <div id="statisticDialog" class = "hidden"  title="Métricas"> 
		<div id="metricsTableDiv">
		  <table id="metricsTable" class="ui-widget ui-widget-content">	
		  </table>
		</div>
		</div>
		</table>
		<div id="uploadDialog" class = "hidden" title="Upload">
<!-- 		<form accept-charset="UTF-8" action="/uploadFile" id="data" method="post" enctype="multipart/form-data" onsubmit="return sendFile();">
			<input id = "upload_datafile" name="upload[datafile]" type="file" />
		<button>Submit</button> -->
		
		<input id= "uploadFile" type="file"/>
		<button id = "submitButton">Submit</button>
		
        </div>
  </div>


