<div id="wrapper" style="min-width:	1189px; overflow:true;">
    <div id="map_canvas" >       
    </div>
    <div id="over_map">
		<input id="pac-input" class="controls" type="text" placeholder="Search Box"></input>	
		    <div id="controller">		
            <div id="trapezoid">
                <div id="insideTrapezoid">
                    <div id="chooseScenario" class="insideOptions">
                        <div style=" display: table; margin: 0 auto;">
                            <div id="scenario" class="selections">Urbano</div>
                            <button id="selectScenario" class = "trapezoidButton"></button>
                        </div>
                        <ul style=" z-index: 1000">
                            <li id="urbanRadio">Urbano</li>
                            <li id="suburbanRadio">Suburbano</li>
                            <li id="ruralRadio">Rural</li>
                        </ul>
                    </div>
                    <div id="chooseTechnology" class="insideOptions">
                        <div style=" display: table; margin: 0 auto;">
                            <div id="technology" class="selections">ZigBee</div>
                            <button id="selectTechnology" style="float:left; height: 30px"></button>
                        </div>
                        <ul style =" z-index: 1000">
                            <li id="ZigBee">ZigBee</li>
                           <!--  <li id="80211a">802.11.a</></li> -->
                            <li id="80211g">802.11.g</li>
                        </ul>
                    </div>
                    <div id="choosePower" class="insideOptions">
                        <div style=" display: table; margin: 0 auto;">
                            <span id="power" class="selections">0 dBm</span>
                        </div>
                        <div id="slider" style=" display: table; margin: 0 auto;"></div>
                    </div>     
                </div>			       
				    </div>   
            <div id="menu"  >
                  <div class="menuButton">
							        <select name="mouseOptions" id="mouseOptions" class="TFOlstFiltreImg"  >
								        <option value="view" selected="selected"></option>
								        <option value="dap"></option>
								        <option value="meter"  ></option>
								        <option value="pole" ></option>
								        <option value="eraser"></option>
								        <option value="eraserSelection"  ></option>
								        <option value="dapEraserSelection" ></option>
								        <option value="meterEraserSelection" ></option>
								        <option value="poleEraserSelection"></option>
							        </select>
						        </div>
                    <div style="width: 136px;" class="menuButton">
                        <button id="autoPlanning" >Auto-Planejamento</button>
                        <div id="autoPlanningCheckboxDiv" class = "hidden belowButtonDiv" style="width: 150px; left: -9.0px; position:relative;" >
                        <span class="selections" style="margin-left: 5%">Sobrescrever: </span>
                        <input type="checkbox" id="autoPlanningCheckbox" style="margin-top: 4%"></input>
                          <label for="check"></label>
                        </div>
                        <div id="autoPlanningHeatmapCheckboxDiv" class = "hidden belowButtonDiv" style="width: 230px; left: -50.5px; position:relative;" >
                        <span class="selections" style="margin-left: 5%">Apenas postes c/ sinal: </span>
                        <input type="checkbox" id="autoPlanningHeatmapCheckbox" style="margin-top: 3%"></input>
                          <label for="check"></label>
                        </div>
                    </div>
                    <div style="width:87px;" class="menuButton">          
                      <button id="meshButton">RF-Mesh</button>
                      <div id="meshSliderDiv" class = "hidden belowButtonDiv" style="width: 305px; left:-109px; position:relative" >
                        <span class="selections" style="margin-left: 5%">Saltos Mesh: </span>
                        <div id="meshSlider" style="width:80px; margin-top: 8px; margin-left: 3%"></div>
                        <span id="mesh" style="margin-left: 5%" class="selections">0 Saltos</span>
                      </div>
                    </div>
                    <!-- <input type="checkbox" id="checkHeatmap"><label for="checkHeatmap">Heatmap</label> -->
						        <!-- <input type="checkbox" id="checkCluster"><label for="checkCluster">Junção de componentes</label>-->

                    <div class="menuButton squareButton">
                      <button id="statistic" >Coletar Métricas</button>
                    </div>
                    <div class="menuButton squareButton">
                      <input type="checkbox" id="rangeview">
                        <label for="rangeview">Visão por alcance</label>
                      </input>
                    </div>
                    <div class="menuButton squareButton">
						          <input type="checkbox" id="checkHeatmap"><label id="heatmapLabel" for="checkHeatmap">Sinal 3G/4G/GPRS</label></input>
                      <div id="heatmapCheckboxDiv" class = "hidden belowButtonDiv" style="width: 170px; left: -65px; position:relative;" >
                        <span class="selections" style="margin-left: 5%">Mostrar pontos: </span>
                        <input type="checkbox" id="heatmapCheckbox" style="margin-top: 4%"></input>
                          <label for="check"></label>
                      </div>
                      <div id="SignalRadiusSliderDiv" class = "hidden belowButtonDiv" style="width: 335px; left:-150px; position:relative" >
                        <span class="selections" style="margin-left: 5%">Área de efeito: </span>
                        <div id="SignalRadiusSlider" style="width:80px; margin-top: 8px; margin-left: 3%"></div>
                        <span id="SignalRadius" style="margin-left: 2%" class="selections">20 metros</span>
                      </div>
                    </div>
                    <div class="menuButton squareButton">
						          <button id="upload">Upload de arquivo</button>
                    </div>
                    <div class="menuButton squareButton">
						          <button id="download">Download de planejamento</button>
                    </div>
                    <div class="menuButton squareButton">
						          <button id="help">Botão de Ajuda</button>
                    </div>
						        <!--<button id ="settings"> Configurações Avançadas</button>-->             
					        </div>
        </div>
   </div>
        <div id="statisticDialog" class = "hidden"  title="Estatísticas"> 
		<div id="metricsTableDiv">
		  <table id="metricsTable" class="ui-widget ui-widget-content">
			<tr></tr><tr></tr>			  
		  </table>
		</div>
		</div>
		</table>
		<div id="uploadDialog" class = "hidden" title="Upload">
			<input id= "uploadFile" type="file"/>
			<button id = "submitButton">Submit</button>
      <div id ="overwrite">
        <input type="checkbox" id="resetOnUpload"></input>
        <label for="resetOnUpload">Sobrescrever</label>
      </div>

      <!--<div style="width: 80%; margin: 10px auto;">
				<input type="radio" id="spFormatRadio" name="format" checked="checked"><label for="fileFormatRadio">Formatado</label></input>
				<input type="radio" id="dapFormatRadio" name="format"><label for="fileFormatRadio">DAPs</label></input>
				<input type="radio" id="meterFormatRadio" name="format"><label for="fileFormatRadio">Medidores</label></input>
				<input type="radio" id="poleFormatRadio" name="format"><label for="fileFormatRadio">Postes</label></input>
				<input type="radio" id="heatmapFormatRadio" name="format"><label for="fileFormatRadio">Mapa de calor</label></input>
			</div>-->	
    </div>
		<!--<div id="settingsDialog" class = "hidden" title="Configurações Avançadas">
			<div id="SignalRadiusDiv"  style="height: 26px; width: 300px;" >
				<span class="selections" style="float: left;  margin-left: 5%">Área do ponto de coleta: </span>		
				<div id="SignalRadiusSlider" style="float: left; width:80px; margin-top: 8px; margin-left: 3%"></div>
				<span id="SignalRadius" style="float: left; margin-left: 5%" class="selections">1</span>				
			</div>	
			<div id="limitSliderDiv"  style="height: 26px; width: 330px;">
				<span class="selections" style="float: left;  margin-left: 5%">Limite Meter/DAP: </span>	
				<div id="limitSlider" style="float: left; width:80px; margin-top: 8px; margin-left: 3%"></div>
				<span id="limit" style="float: left; margin-left: 5%" class="selections">100</span>					
			</div>	
			<input style="margin-left:4%" type="checkbox" id="considerLimit"><label for="considerLimit">Considerar limite por DAP</label></input>			
    </div>-->
		<div id="helpDialog" class = "hidden" title="Ajuda">
      <img id="helpmenu" src="" ></img>
    </div>		   
  </div>
</div>


