.hidden { display: none }
#slider{
    width:80px;
}
.input {
	opacity: 0;
}
.ui-widget
{
font-size: 1em;
}

.ui-widget-content
{
border-style: none;
}

/*Affichage des options*/
.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item
{
padding: 0.5em 0.5 0.5em 2.1em;
background-repeat: no-repeat;
}

/*Agrandir sinon 16px par defaut*/
.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item .ui-icon
{
    height: 15px;
    width: 15x;
    top: 0.1em;
	left: 1.1em;
}

.TFOlstFiltreImg
{
width: 50px;
}
.TFOSizeImgSelected
{
position:absolute;
height: 15px;
width: 15px;
left:20%;
margin-top:-9px; /* 24/2*/
top:50%;
}

.TFOOptlstFiltreImg
{
background-size:15px 15px;
background-repeat:no-repeat;
}

.ui-button .ui-icon.dap {
     background-image: url(dapicon.png); 
}
.ui-button .ui-icon.meter {
     background-image: url(metericon.png); 
}
.ui-button .ui-icon.pole {
     background-image: url(poleicon.png); 
}
.ui-button .ui-icon.view {
     background-image: url(viewicon.png); 
}
.ui-button .ui-icon.eraser {
     background-image: url(removecursor.png); 
}

.ui-button .ui-icon.eraserSelection {
     background-image: url(removeselectionicon.png); 
}
.ui-button .ui-icon.dapEraserSelection {
     background-image: url(dapremoveselectionicon.png); 
}
.ui-button .ui-icon.meterEraserSelection {
     background-image: url(meterremoveselectionicon.png); 
}
.ui-button .ui-icon.poleEraserSelection {
     background-image: url(poleremoveselectionicon.png); 
}
.ui-button .ui-icon.heatmap {
     background-image: url(heatmap.png); 
}
.ui-button .ui-icon.mesh {
     background-image: url(meshicon.png); 
}
.ui-button .ui-icon.statistic {
     background-image: url(statistic.png); 
}
.ui-button .ui-icon.upload {
     background-image: url(upload.png); 
}
.ui-button .ui-icon.download {
     background-image: url(download.png); 
}
.ui-button .ui-icon.settings {
     background-image: url(settings.png); 
}


#menu {
 
  position: absolute;
  margin-top: 64px;
  margin-left:64px;
}

#menu div {
  float: left;
}

#pac-input {
background-color: #fff;
font-family: Roboto;
font-size: 15px;
font-weight: 300;
margin-left: 12px;
padding: 0 11px 0 13px;
text-overflow: ellipsis;
width: 250px;
}

#pac-input:focus {
border-color: #4d90fe;
}
#pac-input {
	margin-top:5px;
}

.pac-container {
font-family: Roboto;
}

#type-selector {
color: #fff;
background-color: #4d90fe;
padding: 5px 11px 0px 11px;
}

#type-selector label {
font-family: Roboto;
font-size: 13px;
font-weight: 300;
}
.selections{

    font-weight:bold;
    font-size:18px;
    float:left; 
    color:#1c94c4;
    margin: 1px;
}

.insideOptions{
    width: 135px;
    margin: 2px;
    margin-top: 15px;
    float: left;
}
div#metricsTableDiv table { border-collapse: collapse; width: 100%; }
div#metricsTableDiv table td, div#metricsTableDiv table th {text-align: center; padding: .3em; }
div#metricsTableDiv tr{border: solid; border-width: 1px ;}
 
#power {
     
    font-weight:bold;
    font-size:16px;
    color:#1c94c4;

    
}
#insideTrapezoid{
    width:420px;
    /*height: 80px;*/
    margin-left: 45px;
}
#trapezoid {
	
    width: 510px;
height: 54px;

/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
filter: alpha(opacity=80);*/
-moz-opacity: 0.8;
-khtml-opacity: 0.8;
/*opacity: 0.8;*/
border: 9px #888888 solid;

/*background-color: #ffffff;*/
background-color: rgba(255,255,255,0.8);

-webkit-border-bottom-left-radius: 80px;
-moz-border-radius-bottomleft: 80px;
border-bottom-left-radius: 80px;

-webkit-border-bottom-right-radius: 80px;
-moz-border-radius-bottomright: 80px;
border-bottom-right-radius: 80px;

-moz-box-shadow: -3px 3px 11px 0px #575757;
-webkit-box-shadow: -3px 3px 11px 0px #575757;
box-shadow: -3px 3px 11px 0px #575757;

    
}




.labels {
     color: red;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 40px;     
     border: 2px solid black;
     white-space: nowrap;
   }









#topRight{

	height: 840px;
	width:  420px;

	overflow:scroll;
	border-style: solid;
    border-width: 2px;
	margin-left: auto;
    margin-right: auto;	
	background-color: #FFFFFF
}

html, body, #map_canvas {
        margin: 0;
        padding: 0;
        height: 800px;
      }

html
{
	font-size: 80%;
}

#wrapper { position: relative; height:100% }
#over_map { position: absolute; top: 1px; z-index: 99; }

